{% extends 'base.html.twig' %}

{% block body %}

    <!-- Page Content -->
    <div class="container">
        {% include 'event/_offres.html.twig' %}
        {% include 'event/_activites.html.twig' %}
    </div>
    <!-- /.page content -->
{% endblock %}