{% extends 'superAdmin.html.twig' %}


{% block body %}

    <div class="card">
        <div class="card-header">
            <strong><center> Modifier La Description Du Site</center></strong>
        </div>
        <div class="card-body card-block">
            <h2></h2>
            {{ include('admin/superadmin/utilisateur/description/_form.html.twig', {button: 'Editer'}) }}
        </div>
    </div>
{% endblock %}
