{% extends 'securityBase.html.twig' %}

{% block title %}Message de recuperation{% endblock %}

{% block body %}

        <!-- Page Content --> <br><p></p><br>
        <div class="container mt-5">
            <div class="card card-login mx-auto mt-5 mb-5">
                <div class="card-header"></div>
                <div class="card-body p-4">
                    <h4 class="text-center text-justify py-3"><strong>En attente de vérification  du courrier électronique</strong></h4>
                    <p>Merci de consulter votre emails. Nous avons envoyé un lien unique de réinitialisation du mot de passe</p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>
        <br><br><br><br><br>
        <!-- /.page content -->

{% endblock %}