{% extends 'securityBase.html.twig' %}

{% block title %}Verification Mail{% endblock %}

{% block body %}
    <!-- Page Content -->
    <div class="container">
      <div class="card card-login mx-auto mt-5 mb-5">
        <div class="card-header"></div>
        <div class="card-body p-4">
          <h4 class="text-center text-justify py-3"><strong>En attente de vérification  du courrier électronique</strong></h4>
          <p>Un email de vérification a été envoyé à votre adresse mail entreprise.</p>
          <p>Pour commencer à utiliser votre compte Smart-Bergerie, veuillez compléter la vérification en suivant les instructions définies dans l'e-mail.</p>
          <p><small>Si vous ne recevez pas l'e-mail de vérification dans les minutes qui suivent la fin de l'enregistrement, vous pouvez le renvoyer <a href="{{ path('home') }}" class="text-success"><u>cliquant ici</u></a>.</small></p>
        </div>
      </div>
    </div>
    <!-- /.page content -->
{% endblock %}