{% extends 'superAdmin.html.twig' %}


{% block body %}

    <div class="container mt-5">
        <h2>Modifier Un Carrousel</h2><br /><br />
        {{ include('admin/superadmin/site/album/_form.html.twig', {button: 'Editer'}) }}
    </div>

{% endblock %}
