{% extends 'superAdmin.html.twig' %}


{% block body %}

<div class="card">
    <div class="card-header">
        <strong><center> Ajouter Une Imaget</center></strong>
    </div>
    <div class="card-body card-block">
        <h2></h2>
        {{ include('admin/superadmin/site/carrousel/_form.html.twig', {button: 'Enregistrer'}) }}
    </div>
</div>
{% endblock %}
